.info-table {
  width: 100%;
  margin: 12px 0 18px 0;
}
.info-field td {
  padding: 6px 12px;
}
.info-field .field-label {
  color: var(--neutral-7);
  white-space: nowrap;
  width: 35%;
}
.info-field .field-value {
  color: var(--neutral-8);
  font-size: 18px;
}
.dmp-info .btn {
  margin-bottom: 16px;
}

.dmp-info.indent {
  padding-left: 16px;
  margin-left: 16px;
  border-left: 1px dashed var(--neutral-5);
}

