.dmp-editor-wrapper {
  margin-top: 16px;
  margin-bottom: 32px;
}

.dmp-editor {
}

.dmp-editor-dataset-list {
  margin: 24px 0px;
}

.dmp-editor-dataset {
  padding: 24px;
  background-color: var(--neutral-1);
  border-left: 2px solid hsl(150deg, 50%, 50%);
  margin: 24px 0px;
}

.dmp-editor-distribution-list {
  margin: 24px 0px;
}

.dmp-editor-distribution {
  padding: 24px;
  background-color: var(--neutral-2);
  border-left: 2px solid hsl(200deg, 50%, 50%);
  margin: 24px 0px;
}

.dmp-editor-distribution-fields {
  margin-bottom: 24px;
}

.dmp-editor-host {
  padding: 24px;
  border-left: 2px solid hsl(250deg, 50%, 50%);
  margin: 24px 0px;
  background-color: var(--neutral-1);
}

.dmp-editor .keyword-editor input {
  display: inline-block;
}

.sub-form {
  padding-top: 4px;
  padding-bottom: 4px;
  margin-left: 8px;
  padding-left: 16px;
  border-left: 1px dashed var(--neutral-5);
  margin-top: 16px;
  margin-bottom: 16px;
}

.dmp-editor .form-field {
  margin-top: 16px;
  margin-bottom: 32px;
}

.dmp-editor .form-field h6 {
  font-size: 16px;
  font-weight: 600;
  color: var(--neutral-7);
}

.dmp-editor .form-field p {
  margin-top: 8px;
}

.dmp-editor .form-field label {
  display: block;
}

.btn.btn-danger.btn-remove {
  display: inline-block;
  border-radius: 100%;
  padding: 0;
  width: 30px;
  height: 30px;
  margin-left: 8px;
}

.dmp-editor-status {
  margin: 16px 0px;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: var(--danger-2);
  border: 1px solid var(--danger-4);
  color: var(--danger-8);
}

.dmp-editor-status h6 {
  color: var(--danger-6);
}

