@import 'normalize.css';
@import './vars.css';
@import './navigation.css';
@import './dmp-index.css';
@import './dmp-edit.css';
@import './dmp-editor.css';
@import './dmp-info.css';

body {
  color: var(--neutral-8);
  background-color: var(--neutral-3);
  font-size: 16px;
  display: flex;
  justify-content: center;
  font-family: Verdana, sans-serif;
}

* {
  box-sizing: border-box;
}

hr {
  border-top: none;
  border-color: var(--neutral-4);
  margin: 32px 0px;
}

h2 {
  color: var(--neutral-8);
  font-size: 28px;
  font-weight: 600;
  margin-top: 12px;
  margin-bottom: 24px;
}

h3 {
  color: var(--neutral-7);
  font-size: 24px;
  font-weight: 600;
  margin-top: 6px;
  margin-bottom: 12px;
}

h4 {
  color: var(--neutral-7);
  font-size: 22px;
  font-weight: 600;
  margin-top: 6px;
  margin-bottom: 12px;
}

h5 {
  color: var(--neutral-7);
  font-size: 20px;
  font-weight: 600;
  margin-top: 6px;
  margin-bottom: 12px;
}

h6 {
  color: var(--neutral-6);
  font-size: 18px;
  font-weight: 600;
  margin-top: 4px;
  margin-bottom: 8px;
}

.main {
  flex-grow: 1;
  min-height: fit-content;
  max-width: 1000px;
  background-color: var(--neutral-3);
  padding: 16px 32px;
  padding-bottom: 64px;
  box-shadow: 0px 0px 128px 0px rgba(0, 0, 0, 0.04);
}

.btn {
  font-size: 16px;
  display: inline-block;
  text-decoration: none;
  color: var(--neutral-8);
  background-color: var(--neutral-1);
  border: 1px solid var(--neutral-4);
  cursor: pointer;
  box-shadow: 0px 2px 8px 0px hsla(var(--primary-6-unwrapped), 0.2);
  border-radius: 5px;
  padding: 12px 24px;
}

.btn:visited {
  color: inherit;
}

.btn:hover {
  background-color: var(--primary-1);
}

.btn.btn-primary {
  color: var(--primary-1);
  background-color: var(--primary-6);
  box-shadow: 0px 2px 12px 0px hsla(var(--primary-7-unwrapped), 0.2);
}

.btn.btn-primary:hover {
  background-color: var(--primary-7);
}

.btn.btn-danger {
  color: var(--danger-8);
  background-color: var(--danger-1);
  box-shadow: 0px 2px 8px 0px hsla(var(--danger-6-unwrapped), 0.15);
}

.btn.btn-danger:hover {
  background-color: var(--danger-2);
}

table {
  border-spacing: 0px;
  margin-bottom: 16px;
}

table tr:nth-child(odd) {
  background-color: var(--neutral-2);
}
table tr:nth-child(even) {
  background-color: var(--neutral-3);
}

table tr > th, table tr > td {
  padding: 8px 16px;
  text-align: start;
}

table th {
  font-weight: 600;
  color: var(--neutral-7);
  border-bottom: 1px solid var(--primary-5);
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

input:not([type='checkbox']), textarea, select {
  display: block;
  margin-top: 4px;
  margin-bottom: 8px;
  background-color: var(--neutral-1);
  border-radius: 3px;
  border: 1px solid var(--neutral-5);
  box-shadow: inset 1px 2px 3px var(--neutral-3);
  padding: 6px 12px;
}

section {
  margin-top: 64px;
  margin-bottom: 48px;
}

