@import 'normalize.css';
@import './vars.css';
@import './navigation.css';

body {
  color: var(--neutral-8);
  background-color: var(--neutral-3);
  font-size: 16px;
  display: flex;
  justify-content: center;
  font-family: Verdana, sans-serif;
}

* {
  box-sizing: border-box;
}

.main {
  flex-grow: 1;
  max-width: 1000px;
  background-color: var(--neutral-2);
  padding: 16px 32px;
  box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.05);
}
