:root {
  --neutral-1: hsl(175, 10%, 98%);
  --neutral-2: hsl(175, 6%, 94%);
  --neutral-3: hsl(175, 4%, 88%);
  --neutral-4: hsl(175, 2%, 60%);
  --neutral-5: hsl(175, 1%, 40%);
  --neutral-6: hsl(175, 2%, 30%);
  --neutral-7: hsl(175, 4%, 20%);
  --neutral-8: hsl(175, 6%, 10%);
  --neutral-9: hsl(175, 10%, 2%);

  --primary-1: hsl(175, 80%, 98%);
  --primary-5: hsl(175, 80%, 40%);
  --primary-6: hsl(175, 80%, 30%);
}
