:root {
  --neutral-1: hsl(175deg, 10%, 98%);
  --neutral-2: hsl(175deg, 6%, 94%);
  --neutral-3: hsl(175deg, 4%, 90%);
  --neutral-4: hsl(175deg, 2%, 80%);
  --neutral-5: hsl(175deg, 1%, 50%);
  --neutral-6: hsl(175deg, 2%, 30%);
  --neutral-7: hsl(175deg, 4%, 18%);
  --neutral-8: hsl(175deg, 6%, 8%);
  --neutral-9: hsl(175deg, 10%, 2%);

  --primary-1: hsl(175deg, 80%, 98%);
  --primary-3: hsl(175deg, 80%, 80%);
  --primary-3: hsl(175deg, 80%, 70%);
  /* At this point I realized that you still need sass */
  --primary-5-unwrapped: 175deg, 80%, 40%;
  --primary-5: hsl(var(--primary-5-unwrapped));
  --primary-6-unwrapped: 175deg, 80%, 30%;
  --primary-6: hsl(var(--primary-6-unwrapped));
  --primary-7-unwrapped: 175deg, 80%, 24%;
  --primary-7: hsl(var(--primary-7-unwrapped));
  --primary-8: hsl(175deg, 90%, 18%);

  --danger-1-unwrapped: 0deg, 60%, 99%;
  --danger-1: hsl(var(--danger-1-unwrapped));
  --danger-2-unwrapped: 0deg, 60%, 96%;
  --danger-2: hsl(var(--danger-2-unwrapped));
  --danger-3-unwrapped: 0deg, 66%, 85%;
  --danger-3: hsl(var(--danger-3-unwrapped));
  --danger-4-unwrapped: 0deg, 74%, 70%;
  --danger-4: hsl(var(--danger-4-unwrapped));
  --danger-5-unwrapped: 0deg, 80%, 50%;
  --danger-5: hsl(var(--danger-5-unwrapped));
  --danger-6-unwrapped: 0deg, 80%, 35%;
  --danger-6: hsl(var(--danger-6-unwrapped));
  --danger-7-unwrapped: 0deg, 80%, 20%;
  --danger-7: hsl(var(--danger-7-unwrapped));
  --danger-8-unwrapped: 0deg, 80%, 10%;
  --danger-8: hsl(var(--danger-8-unwrapped));
}
