name: Publish Docker Image

on:
  push:
    branches: ['main', 'development']

env:
  REGISTRY: ghcr.io
  MODE: ${{ github.ref == 'refs/heads/main' && 'production' || 'staging' }}
jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        include:
          - image: ${{ github.repository }}-backend
            context: ./laji-dmp-backend
          - image: ${{ github.repository }}-frontend
            context: ./laji-dmp-frontend
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ matrix.image }}

      - name: Buildah Action
        id: build_image
        uses: redhat-actions/buildah-build@v2
        with:
          image: ${{ matrix.image }}
          tags: ${{ steps.meta.outputs.tags }}
          build-args: |
            MODE=${{ env.MODE }}
          oci: true
          context: ${{ matrix.context }}
          containerfiles: |
            ${{ matrix.context }}/Dockerfile

      - name: Push To GHCR
        uses: redhat-actions/push-to-registry@v2
        with:
          tags: ${{ steps.build_image.outputs.tags }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
